@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #F5F8FF;

}

header,
.plants,
.plants-lover,
.deal,
footer {
    max-width: 1140px;
    margin: 25px 150px;

}

/* shared style */
.flex {
    display: flex;
}

.text-color-1 {
    color: #E95A08;
}

.description {
    /* font-size: 1.37rem; */
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}

.btn-primary {
    background-color: #E95A08;
    color: white;
    padding: 19px 80px;
    font-weight: 700;
    border: none;
}

.deals-offer {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.shop {
    font-weight: 700;
    color: white;
}

/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.nav-links ul {
    list-style: none;
    gap: 48px;
}

.nav-link a {
    text-decoration: none;
    /* color: black; */
}

#home {
    font-weight: bold;
}

.nav-link-color-1 {
    color: black;
}

.nav-link-color {
    color: #8987A1;
}

/* banner related styles */
.banner {
    justify-content: space-between;
    align-items: end;
    margin-bottom: 120px;
}

.banner-text,
.banner img {
    max-width: 570px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

/* our plants section styles */
.plants {
    text-align: center;
}

.plants-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 auto;
}

.plants-description {
    margin: 0 auto;
    width: 888px;
}

/* cards styles */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card img {
    width: 270px;
    height: 322px;
}

.card-title,
.card-cost {
    margin: 15px 20px;
}

.card-title {
    font-weight: 500;
    font-size: 1.37rem;
}

.card-cost {
    font-weight: bold;
    font-size: 1.37rem;
}

/* badge and store narrative related styles */
.narrative {
    max-width: auto;
    display: flex;
    margin-top: 210px;

}

.badge {
    width: 286px;
    height: 286px;
    margin-left: -190px;
    margin-top: -130px;
}

.narrative-title,
.deals-title {
    font-size: 3.1rem;
    font-weight: bold;
}

.narratives li {
    margin-bottom: 20px;
}

/* deals style */
.deals {
    text-align: center;
    margin-top: 130px;
}

.deals-title {
    margin-bottom: 6px;
}

.deals-description {
    margin-top: 0px;
    margin-bottom: 120px;
}

/* offers styles */
.offers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 120px;
}

.offers img {
    border-radius: 22px;
}

.offers-left {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.container-bloom,
.container-ana,
.container-zabo {
    position: relative;
    text-align: center;
    color: white;
}

.offers img {
    filter: brightness(50%);
}

.container-title {
    position: absolute;
    top: 70px;
    left: 90px;
}

.container-zabo div {
    position: absolute;
    top: 190px;
    left: 280px;
}

.container-title,
.container-zabo div {
    font-size: 1.2rem;
    font-weight: bold;
}

.container-bloom a,
.container-ana a,
.container-zabo a {
    color: white;
    font-size: 1rem;
    font-weight: 600;

}

/* join styles */
/* .join-bg{
   display: flex;
   justify-content: center;
   width: 1300; */
/* }
.join-bg img{
    width: 1400;
    height: auto; */


.join-sec {

    /* margin: 0; */
    margin-right: -110px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
}

.join-title,
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: none;

}

.join-title {
    color: white;
    font-size: 3.1rem;
    font-weight: bold;
}

.email input[type="email"] {
    color: rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 50px;
}

/*footer styles  */
footer {
    display: flex;
    gap: 100px;
    padding: 25px;
    margin-right: 100px;
    margin-left: 100px;
}

.footer-logo {
    width: 360px;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
}

.footer-links ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(5,1fr); */
    gap: 10px;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.logos {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: start;
    align-content: center;
}




/* mobile responsive styles */
@media screen and (max-width: 576px) {
    body {
        margin: 10px auto;
        width: 100%;
    }

    .hidden {
        display: none;
    }

    .navbar {
        margin-left: 16px;
        margin-bottom: 28px;
        justify-content: space-between;
        justify-items: start;
    }

    .logo-pic {
        width: 64px;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 28px;

    }

    .banner img,
    .banner-text {
        width: 393px;
    }

    .banner-title {
        font-size: 1.90rem;

    }

    /* cards responsive */
    .plants {
        text-align: center;
    }

    .plants-description,
    .cards {
        width: auto;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
        /* width: 170px; */
    }

    .card {
        width: 170px;
        height: 340px;
        margin-top: 28px;
        /* margin-bottom: 28px; */
        margin-left: 15px;

    }

    .card img {
        width: 170px;
        height: 196px;
    }

    .btn-primary {
        width: 170px;
        height: 50px;
        padding: 19px 30px;
    }

    /* badge and store narrative responsive styles */
    .narrative {
        flex-direction: column;
        margin: 40px 15px 140px 15px;
        align-items: center;
    }

    .store {
        width: 360px;
        height: 390px;
    }

    .badge {
        display: none;
    }

    .narrative-description {
        width: 361px;
    }

    .narrative-title {
        font-size: 1.5rem;
    }

    .narratives {
        font-size: 0.87rem;
    }

    .narratives li {
        margin-bottom: 8px;
    }

    /* offers responsive */
    .offers {
        grid-template-columns: repeat(1, 1fr);
    }

    .offers-right img {
        width: 365px;
    }

    .container-zabo div {
        position: absolute;
        top: 75px;
        left: 95px;
    }

    .join-sec {
        width: 100%;
        height: 275px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }
    .join{
        width: 290px;
    }
    .join-title{
        font-size: 1rem;
    }

    footer {
        
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 0px;
    }

    .footer-links ul {
        grid-template-columns: repeat(1, 1fr);
        justify-content: start;
        gap: 32px;
    }

    .footer-logo img{
        width: 190px;
    }
}